* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #333; /* Dark-gray background */
    color: #fff; 
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: #333; /* Dark-gray background */
    color: #fff; 
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #000; 
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #000; 
    color: #fff; /* White font color */
  }
  
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #333; /* Dark-gray background */
    padding-left: 20px;
  }
  
  .fakeimg {
    background-color: #000; 
    width: 100%;
    padding: 20px;
  }
  
  .card {
    background-color: #333; 
    padding: 20px;
    margin-top: 20px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background-color: #000; 
    color: #fff; 
    margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
